* {
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #000;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
table{
	table-layout:fixed;
	word-wrap:break-word;
	word-break;break-all;
}

button{
	cursor:pointer;
	outline:none;
}

#head {
	margin: 19px;
	margin-top: 25px;
	font-family: "SimSun";
	font-size: 35px;
	font-weight: bold;
}

#calendar_s {
	width: 90%;
	height: 100%;
	margin: auto;
	background-color: #FFFAFA;
}

#calendar {
	top: 0;
	bottom: 0;
	left: 0;
}

html, body {
	background: #f2f2f2;
}

.calendar {
	margin: 45px;
	width: 450px;
	height: 350px;
	background: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.title {
	height: 70px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	position: relative;
	text-align: center;
}

#calendar-title {
	font-size: 28px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	padding: 14px 0 0 0;
}

#calendar-year {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#pre {
	position: absolute;
	top: 10px;
	left: 50px;
	background: url(../images/prev.png) no-repeat 50% 50%;
	/*没规定大小时，图片显示 0X0*/
	width: 70px;
	height: 55px;
}

#next {
	position: absolute;
	top: 10px;
	right: 50px;
	background: url(../images/next.png) no-repeat 50% 50%;
	width: 70px;
	height: 55px;
}

#dateZone {
	width: 90%;
	height: 500px;
	margin: auto;
}



.details {
	width:140px;
	font-size: 15px;
	text-align: left;
	
}

.body-list tr {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 100%;
}

.body-list tr td {
	font-size: 22px;
	padding: 15px;
}

.b {
	font-size: 20px;
	border: 1px solid #DDDDDD;
	width:250px;
	display:none;
	position: absolute;
	background:#FFFFFF;
}

.day_details{
	font-size: 15px;
	text-align:left;
}

.bold_details{
	color:#6ac13c;
	width:auto;
	font-size:15px;
}
.div_td{
	width:70px;
	font-size:15px;
}


.clear{clear: both;}

.green {
	color: #6ac13c;
}

.lightgrey { /*浅灰色显示过去的日期*/
	font-size: 24px;
	border: 1px solid #DDDDDD;
	height: 100px;
	vertical-align: top;
	width:100px;
}


.darkgrey { /*深灰色显示将来的日期*/
	font-size: 24px;
	border: 1px solid #DDDDDD;
	height: 100px;
	vertical-align: top;
	width:100px;
}

/*日期当天用绿色背景绿色文字加以显示*/
.greenbox {
	font-size: 24px;
	border: 1px solid #6ac13c;
	background: #e9f8df;
	vertical-align: top;
	width:100px;
}