<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.just.demo.dao.OldstudentMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.just.demo.model.Oldstudent" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getSchoolByDate" resultType="String" parameterType="String">
    select school from oldstudent where date=#{date}
  </select>
  <select id="getIdByDateSchool" resultType="int" >
    select id from oldstudent where date=#{date} and school=#{school}
  </select>
  <select id="getInOrder" resultMap="BaseResultMap">
    select * from oldstudent order  by date
  </select>
</mapper>